name: Issue Labeler
on:
  issues:
    types: [opened]

permissions:
  contents: read
  issues: write

jobs:
  label-requirement:
    runs-on: ubuntu-latest
    if: contains(github.event.issue.labels.*.name, 'requirement')
    steps:
      - uses: actions/checkout@v4

      - name: Parse issue form
        uses: stefanbuck/github-issue-parser@v3
        id: issue-parser
        with:
          template-path: .github/ISSUE_TEMPLATE/requirement.yml

      - name: Set labels based on type
        uses: redhat-plumbers-in-action/advanced-issue-labeler@v3
        with:
          issue-form: ${{ steps.issue-parser.outputs.jsonString }}
          template: requirement.yml
          token: ${{ secrets.GITHUB_TOKEN }}
